*.build
*.changes
*.deb
*.dsc
*.egg-info/
*.in
*.la
*.lineno
*.lo
*.o
*.orig
*.pyc
*.rpm
*.so
*.tar.gz
*.tgz
*.xz
*~
/src/.deps/
/src/.libs/
/.vagrant/
/autom4te.cache/
/python/build/
/python/dist/
/m4/
/src/**/Makefile
/zabbix-*/
__pycache__/
aclocal.m4
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h1
zabbix_agent_bench
